<form nz-form [formGroup]="form" class="panel-content" (ngSubmit)="editMember()">
  <div class="panel-content-header">
    添加成员
  </div>

  <div class="panel-content-body">
    <nz-layout class="main-container">
      <nz-content class="card base-info ">
        <div class="title">基本信息</div>
        <nz-form-item nzGutter="16" autoErrorTip>
          <nz-form-label nzFlex="120px" nzFor="account" nzRequired>成员账号</nz-form-label>
          <nz-form-control nzFlex="306px" nzExtra="成员使用此手机号/邮箱作为账号登录">
            <input type="text" nz-input formControlName="account" placeholder="成员账号" id="account"  />
          </nz-form-control>

        </nz-form-item>
        <nz-form-item nzGutter="16" autoErrorTip>
          <nz-form-label nzFlex="120px" nzFor="name" nzRequired>成员姓名</nz-form-label>
          <nz-form-control nzFlex="306px">
            <input type="text" nz-input formControlName="name" placeholder="成员姓名" id="name"  />
          </nz-form-control>
        </nz-form-item>
      </nz-content>
      <nz-content class="card role ">
        <div class="title">角色管理</div>
        <nz-form-item nzGutter="16">
          <nz-form-label nzFlex="120px" nzFor="account" nzRequired>默认角色</nz-form-label>
          <nz-form-control [nzFlex]="'1 1 290px'" nzErrorTip="请选择默认角色" [nzValidateStatus]="getValidateStatus('roleIDs')">
            <div class="role-list">
              <nz-card class="role-item" [ngClass]="{'selected': form.value.roleIDs.indexOf(role.id) !== -1}"
                *ngFor="let role of roles$ | async" (click)="select(role.id)" [nzBodyStyle]="{height:'100%'}">
                <h4><em class="fas fa-user"></em>{{ role.name }}</h4>
                <p>{{ role.description }}</p>
                <img src="/assets/icon-tips-choose-default.svg" alt="">
              </nz-card>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row class="register-area">
          <nz-form-control class="register-btn">
            <button nz-button nzType="primary" [nzLoading]="loading">提交</button>
          </nz-form-control>
        </nz-form-item>

      </nz-content>
    </nz-layout>
  </div>
</form>
