<div class="panel-content" *ngIf="loaded$ | async; else skeleton">
  <div class="panel-content-header small">
    <div class="filter" nz-space nzAlign="center">
      <nz-space-item>
        <button nz-button nzType="text" [disabled]="selection.length === 0" (click)="setRead()">
          <em nz-icon nzType="read"></em>{{ 'pages.message.actions.markRead' | translate}}
        </button>
      </nz-space-item>
      <nz-space-item>
        <nz-select [(ngModel)]="currentQueryParams['isRead']" nzAllowClear
          [nzPlaceHolder]="'pages.message.label.status' | translate" class="middle">
          <nz-option *ngFor="let isRead of isReadList" [nzValue]="isRead.value"
            [nzLabel]="(isRead.value === 'true' ? 'pages.message.status.isRead' : 'pages.message.status.unRead') | translate">
          </nz-option>
        </nz-select>
      </nz-space-item>
      <nz-space-item>
        <button nz-button nzType="primary" (click)="onSearch()">{{'common.actions.search' | translate}}</button>
      </nz-space-item>
    </div>
    <div class="actions" nz-space nzAlign="center">
      <nz-space-item>
        <span class="cursor-pointer" (click)="onRefreshing()">
          <em class="action-icons" nz-icon [nzType]="'sync'" [nzSpin]="loading" nz-tooltip
            [nzTooltipTitle]="'common.actions.refresh'| translate"></em>
        </span>
      </nz-space-item>
    </div>
  </div>
  <div class="panel-content-body">
    <nz-alert
      *ngIf="selection.length > 0;"
      nzType="info"
      [nzMessage]="'pages.message.actions.tips' | translate : {number: selection.length}"
      class="margin-bottom-1">
    </nz-alert>

    <nz-spin [nzSpinning]="refreshing || loading">
      <nz-table #basicTable [nzFrontPagination]="false" [nzData]="items$ | async" nzSize="small">
        <thead>
          <tr>
            <th scope="row" [nzChecked]="trackAllSelected()"
              [nzIndeterminate]="trackAllSelected() ? false: trackSomeSelected()" (nzCheckedChange)="selectAll($event)"
              nzAlign="left" nzWidth="25px">
            </th>
            <th scope="row">{{'pages.message.columns.title' | translate}}</th>
            <th scope="row">{{'pages.message.columns.isRead' | translate}}</th>
            <th scope="row">{{'pages.message.columns.createdAt' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td [nzChecked]="trackItemSelected(data?.id)" nzAlign="left"
              (nzCheckedChange)="selectOne($event, data?.id)">
            </td>
            <td>
              <a nz-typography nzEllipsis nzExpandable style="width: 100%;" [nzEllipsisRows]="1"
                [routerLink]="['./', data.id]">
                {{data.title }}
              </a>
            </td>
            <td>
              <nz-tag [nzColor]="statusColorMap[data.isRead]">
                <!-- {{ statusMap[data.isRead] }} -->
                {{(data.isRead ? 'pages.message.status.isRead' : 'pages.message.status.unRead') | translate}}
              </nz-tag>
            </td>
            <td>
              {{ data.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-spin>
  </div>
  <div class="panel-content-footer">
    <ng-container *ngIf="meta$ | async as meta">
      <span class="meta-template" translate="common.pagination" [translateParams]=" {count: meta.count, pageSize: meta.pageSize}"></span>
      <nz-pagination [nzPageIndex]="meta.pageNo" [nzPageSize]="meta.pageSize" [nzTotal]="meta.count" nzShowSizeChanger
        [nzPageSizeOptions]="[10, 20, 50, 100]" (nzPageSizeChange)="onPageSizeChange($event)"
        (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
    </ng-container>
  </div>
</div>

<ng-template #skeleton>
  <div class="skeleton">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </div>
</ng-template>