<nz-spin [nzSpinning]="loading">
  <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="reset()">
    <nz-form-item autoErrorTip>
      <nz-form-label nzRequired>新密码</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
          <input type="password"
                 nz-input
                 formControlName="password"
                 placeholder="新密码"
                 nz-popover [nzPopoverContent]="strengthDropDown"
                 nzPopoverTrigger="click" nzPopoverPlacement="right" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item autoErrorTip>
      <nz-form-label nzRequired>确认密码</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
          <input type="password" nz-input formControlName="confirmPassword" placeholder="确认密码" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button type="submit" nzBlock nz-button nzSize="large" [nzType]="'primary'">重置密码</button>
  </form>

  <div class="margin-top-1 text-align-center">
    已有账号？<a [routerLink]="['/', 'login']">直接登录</a>
  </div>
</nz-spin>

<ng-template #strengthDropDown>
  <div class="password-content">
    <p class="text-gray password-item">密码至少包含：</p>
    <p class="password-item">
      <em nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#1890ff" *ngIf="stats.upperCaseCharCount > 0"></em>
      <em nz-icon nzType="check-circle" nzTheme="outline" *ngIf="stats.upperCaseCharCount === 0"></em>
      1个大写字母
    </p>
    <p class="password-item">
      <em nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#1890ff" *ngIf="stats.lowerCaseCharCount > 0"></em>
      <em nz-icon nzType="check-circle" nzTheme="outline" *ngIf="stats.lowerCaseCharCount === 0"></em>
      1个小写字母
    </p>
    <p class="password-item">
      <em nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#1890ff" *ngIf="stats.numberCount > 0"></em>
      <em nz-icon nzType="check-circle" nzTheme="outline" *ngIf="stats.numberCount === 0"></em>
      1个数字
    </p>
    <p class="password-item">
      <em nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#1890ff"
         *ngIf="stats.upperCaseCharCount + stats.lowerCaseCharCount + stats.symbolCount + stats.numberCount >= 8"></em>
      <em nz-icon nzType="check-circle" nzTheme="outline"
         *ngIf="stats.upperCaseCharCount + stats.lowerCaseCharCount + stats.symbolCount + stats.numberCount < 8"></em>
      8个字符
    </p>
    <!-- 密码强度遮罩层-->
    <div class="grid-x align-middle">
      <div class="cell shrink strength">强度：{{ getStrengthLength().text }}</div>
      <div class="cell auto password-strength">
        <nz-progress [nzShowInfo]="false" [nzPercent]="getStrengthLength().percent" [nzStrokeColor]="getStrengthLength().color"></nz-progress>
      </div>
    </div>
  </div>
</ng-template>
