<div class="basic-layout">
  <div class="main">
    <div class="header">
      <div class="portal-layout-header">
        <img src="/assets/DXSuite.png" (click)="toHomePage()" alt="logo" />
      </div>
    </div>
    <div class="reset">

      <div class="content-body-header padding-bottom-2">重置密码</div>

      <nz-steps [nzCurrent]="current" nzSize="small" nzLabelPlacement="vertical">
        <nz-step nzTitle="获取验证码"></nz-step>
        <nz-step nzTitle="设置密码"></nz-step>
        <nz-step nzTitle="设置成功"></nz-step>
      </nz-steps>

      <div class="step-content">
        <ng-container *ngIf="current === 0">
          <app-reset-password-verify (confirm)="firstStep($event)"></app-reset-password-verify>
        </ng-container>

        <ng-container *ngIf="current === 1">
          <app-reset-password-update [account]="account"
                                     [verificationCode]="verificationCode"
                                     (confirm)="secondStep()"></app-reset-password-update>
        </ng-container>

        <ng-container *ngIf="current === 2">
          <app-reset-password-finish></app-reset-password-finish>
        </ng-container>
      </div>
    </div>
    <div class="portal-layout-footer">
      <div class="footer-slogen">— DXSuite · 企业级敏捷开发解决方案 —</div>
      <div class="footer-copyright">Copyright © 2021 大连代码跳动科技有限公司 All Rights Reserved. 辽ICP备19008868号-12</div>
    </div>
  </div>

</div>
