<div class="panel">
  <div class="panel-content" *ngIf="loaded$ | async; else skeleton">
    <div class="panel-content-header">
      <div class="filter" nz-space nzAlign="center"></div>
      <div class="actions" nz-space nzAlign="center">
        <nz-space-item>
          <button nz-button nzType="primary" (click)="removeAll()">
            全部强制下线
          </button>
        </nz-space-item>
        <nz-space-item class="margin-right-0">
          <span class="cursor-pointer" (click)="onRefreshing()">
            <em class="action-icons" nz-icon [nzType]="'sync'" [nzSpin]="loading" nz-tooltip nzTooltipTitle="刷新"></em>
          </span>
        </nz-space-item>
      </div>
    </div>
    <div class="panel-content-body">
      <nz-spin [nzSpinning]="loading || refreshing">
        <nz-table #basicTable [nzFrontPagination]="false" [nzData]="items$ | async" nzSize="small">
          <thead>
            <tr>
              <th scope="row">设备类型</th>
              <th scope="row">浏览器信息</th>
              <th scope="row" [nzAlign]="'right'">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ searchDeviceInfo(data.userAgent).platform }}</td>
              <td>
                {{ searchDeviceInfo(data.userAgent).browser }}
                {{ searchDeviceInfo(data.userAgent).version }}
              </td>
              <td [nzAlign]="'right'">
                <a (click)="remove(data)">强制下线</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-spin>
    </div>

    <div class="panel-content-footer">
      <ng-container *ngIf="meta$ | async as meta">
        <span class="meta-template">共 {{meta.count}} 条，每页显示 {{meta.pageSize}} 条</span>
        <nz-pagination [nzPageIndex]="meta.pageNo" [nzPageSize]="meta.pageSize" [nzTotal]="meta.count" nzShowSizeChanger
                       [nzPageSizeOptions]="[10, 20, 50, 100]" (nzPageSizeChange)="onPageSizeChange($event)" (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
      </ng-container>
    </div>
  </div>

  <!-- 骨架屏 -->
  <ng-template #skeleton>
    <div class="skeleton">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </ng-template>
</div>
