<div class="panel">

  <div class="panel-content" *ngIf="loaded$ | async; else skeleton">

    <!-- 列表操作区域 -->
    <div class="panel-content-header">
      <div class="filter" nz-space nzAlign="center">
        <nz-space-item>
          <nz-input-group [nzSuffix]="suffixKeywordClear" class="middle">
            <input nz-input placeholder="姓名" [(ngModel)]="name">
          </nz-input-group>
          <ng-template #suffixKeywordClear>
            <em nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="name"
               (click)="name = ''"></em>
          </ng-template>
        </nz-space-item>
        <nz-space-item>
          <button nz-button nzType="primary" (click)="onSearch()">查询</button>
        </nz-space-item>
      </div>
      <div class="actions" nz-space nzAlign="center">
        <nz-space-item>
          <button nz-button nzType="primary" (click)="showCaptcha()">
            <em nz-icon nzType="cloud-download"></em>导出
          </button>
        </nz-space-item>
        <span class="cursor-pointer" (click)="onRefreshing()">
          <em class="action-icons" nz-icon [nzType]="'sync'" [nzSpin]="loading" nz-tooltip nzTooltipTitle="刷新"></em>
        </span>
      </div>
    </div>

    <!-- 列表区域 -->
    <div class="panel-content-body" #panel>
      <nz-spin [nzSpinning]="loading">
        <nz-table #basicTable [nzFrontPagination]="false" [nzData]="items$ | async" nzSize="small">
          <thead>
          <tr>
            <th scope="row">姓名</th>
            <th scope="row">用户类型</th>
            <th scope="row">状态</th>
            <th scope="row">注册时间</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data?.name || '- -' }}</td>
            <td>{{ typeMap[data?.type] || '- -' }}</td>
            <td>
              <nz-tag [nzColor]="data?.disabled ? 'volcano' : 'green'">
                {{ data?.disabled ? '已停用' : '已启用' }}
              </nz-tag>
            </td>
            <td>{{ (data.createdAt | date: 'yyyy-MM-dd HH:mm:ss') || '- -' }}</td>
          </tbody>
        </nz-table>
      </nz-spin>
    </div>

    <!-- 底部（分页）区域 -->
    <div class="panel-content-footer">
      <ng-container *ngIf="meta$ | async as meta">
        <span class="meta-template">共 {{meta.count}} 条，每页显示 {{meta.pageSize}} 条</span>
        <nz-pagination [nzPageIndex]="meta.pageNo" [nzPageSize]="meta.pageSize" [nzTotal]="meta.count"
                       nzShowSizeChanger
                       [nzPageSizeOptions]="[10, 20, 50, 100]"
                       (nzPageSizeChange)="onPageSizeChange($event)"
                       (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
      </ng-container>
    </div>

  </div>

  <!-- 骨架屏 -->
  <ng-template #skeleton>
    <div class="skeleton">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </ng-template>
</div>
