<div class="protocol-content">
  <div class="header">
    <div class="portal-layout-header">
      <img src="/assets/DXSuite.png" (click)="toHomePage()" alt="logo" />
    </div>
  </div>
  <div class="protocol-container">
    <section>
      <h3>服务条款</h3>
      <p>用户务必审慎阅读、充分理解本合约各条款内容，特别是免除或者限制责任的条款、争议解决和法律适用条款。xxxx</p>
    </section>
    <section>
      <h4>一、合约定义</h4>
      <p>
        1. 本网站（本合约中指包括但不限于 ng-admin.dxsuite.cn
        等网站和相关应用）由大连代码跳动科技有限公司（以下简称“代码跳动”）所有和运作。
      </p>
      <p>2. xxxx</p>
    </section>
    <section>
      <h4>二、知识产权申明</h4>
      <p>
        1.
        本网站的包括但不限于应用程序、源代码、商标、标示图案(LOGO)、界面设计、应用程序编程接口(API)等所关联的所有知识产权均属火星科技所有。用户不得复制、修改、传播或在非本网站所属的服务器上做镜像或者以其它方式进行非法使用。
      </p>
      <p>2. xxxx</p>
    </section>
    <section>
      <h4>三、网站使用规则</h4>
      <p>1. 用户在使用本网站服务过程中，必须遵循以下规则：</p>
      <ul>
        <li>遵守中国有关的法律法规；</li>
        <li>xxxx</li>
      </ul>
    </section>
    <section>
      <h4>四、用户信息保护</h4>
      <p>
        1.
        本网站将尽可能采取一切措施保护用户数据及个人信息资料安全，只根据用户在网站上的行为指示来分发用户的信息，不会向任何第三方公开或共享用户的具体数据，除非有下列情况：
      </p>
      <ul>
        <li>xxxx</li>
        <li>xxxx</li>
        <li>xxxx</li>
        <li>xxxx</li>
      </ul>
      <p>2. xxxx</p>
    </section>
    <section>
      <h4>五、免责申明</h4>
      <p>
        1.
        本网站将尽最大努力保障软件平台的连续可靠运行，但鉴于网络服务的特殊性，本网站对可能发生的网络服务的中断或终止所可能导致的一切损失，不承担任何法律责任及经济赔偿。
      </p>
      <p>2. xxxx</p>
    </section>
    <section>
      <h4>六、合约变更</h4>
      <p>1. 本网站有权随时对本合约的条款进行修订，一旦本合约的内容发生变更，本网站将会在修订生效日前一个工作日更新。</p>
      <p>2. xxxx</p>
    </section>
    <section>
      <h4>七、违约责任</h4>
      <p>
        由于用户通过服务上载、传送或分享之信息、使用本服务其他功能、违反本合约、或侵害他人任何权利因而衍生或导致任何第三人向本网站及其关联公司提出任何索赔或请求，或本网站及其关联公司因此而发生任何损失，用户同意将足额进行赔偿（包括但不限于合理的律师费）。
      </p>
    </section>
    <section>
      <h4>八、法律适用</h4>
      <p>1. 本合约的订立、执行和解释以及争议的解决均应适用中华人民共和国法律并受中国法院管辖。</p>
      <p>2. xxxx</p>
    </section>
  </div>
  <div class="footer text-center padding-bottom-2">
    <div class="desc margin-bottom-1">— DXSuite · 企业级敏捷开发解决方案 · Angular版 —</div>
  </div>
</div>
