@import 'src/styles/variables';

.main {
  background-color: #f5f6f9;
  height: 100%;
  margin: auto;
  width: 100%;
  padding: 0 100px;
}

.header {
  padding: 24px 0;

  img {
    height: 50px;
  }
}

.reset {
  margin: auto;
  box-sizing: content-box;
  padding: 3rem 5rem;
  background-color: #ffffff;
  border-radius: 5px;
  .px2rem(width, 340);

  .content-body-header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .step-content {
    padding-top: 2rem;
  }
}

.description {
  pre {
    margin: 0;
  }
}

@lighter-gray: #f3f5f7;
@light-gray: #dfe4ea;
@medium-gray: #ced6e0;
@dark-gray: #a4b0be;
@darker-gray: #8696a9;

.password-content {
  font-size: 12px;
  min-width: 140px !important;

  .password-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    em {
      margin-right: 5px;
    }

    i[nz-icon] {
      color: @dark-gray;
      margin-right: 5px;
      font-size: 16px;
    }
  }

  .strength {
    font-size: 14px;
  }

  .text-gray {
    color: @dark-gray;
  }

  .text-success {
    color: @success-color;
  }

  .password-strength {
    position: relative;
    background: #ffffff;

    .process {
      position: absolute;
      height: 15px;
      top: 0;
      bottom: 0;
      margin: 1px;
      max-width: calc(100% - 2px);
    }

    .mask {
      background: #ffffff;
      right: 0;
      z-index: 2;
    }

    .color {
      left: 0;
      right: 0;
      background: linear-gradient(to right, #f38260 20%, #ffdb0f 40%, #c3f89a 80%, #abff6c 100%);
      text-align: center;
    }

    .text {
      color: @black;
      line-height: 15px;
      text-align: center;
      font-weight: 500;
      z-index: 3;
      left: 0;
      right: 0;
    }
  }
}
