<div class="main">
  <div class="header">
    <div class="portal-layout-header">
      <img src="/assets/DXSuite.png" (click)="toHomePage()" alt="logo" />
    </div>
  </div>
  <div class="reset">

    <div class="content-body-header padding-bottom-2">设置新密码</div>

    <div class="description">
      <pre>{{description}}</pre><div *ngIf="showPasswordTTL">新密码有效时长为 {{passwordTTLValue / 60 / 60 / 24}} 天</div>
    </div>

    <div class="step-content">
      <nz-spin [nzSpinning]="loading">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="setNewPassword()">
          <nz-form-item autoErrorTip>
            <nz-form-label nzRequired>旧密码</nz-form-label>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'" [nzSuffix]="suffixOldPasswordTemplate">
                <input [type]="oldPasswordType" nz-input formControlName="oldPassword" placeholder="旧密码" />
              </nz-input-group>
            </nz-form-control>
            <ng-template #suffixOldPasswordTemplate>
              <em nz-icon [nzType]="passwordTypeMap[oldPasswordType]" (click)="changePasswordType('oldPasswordType')"></em>
            </ng-template>
          </nz-form-item>

          <nz-form-item autoErrorTip>
            <nz-form-label nzRequired>新密码</nz-form-label>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'"
                              nz-popover
                              [nzSuffix]="suffixNewPasswordTemplate"
                              [nzPopoverContent]="strengthDropDown" nzPopoverPlacement="right">
                <input [type]="newPasswordType"
                       nz-input
                       formControlName="password"
                       placeholder="新密码"
                       nzPopoverTrigger="focus"/>
              </nz-input-group>
            </nz-form-control>
            <ng-template #suffixNewPasswordTemplate>
              <em nz-icon [nzType]="passwordTypeMap[newPasswordType]" (click)="changePasswordType('newPasswordType')"></em>
            </ng-template>
          </nz-form-item>

          <nz-form-item autoErrorTip>
            <nz-form-label nzRequired>确认密码</nz-form-label>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'" [nzSuffix]="suffixPasswordConfirmTemplate">
                <input [type]="passwordConfirmType" nz-input formControlName="confirmPassword" placeholder="确认密码" />
              </nz-input-group>
            </nz-form-control>
            <ng-template #suffixPasswordConfirmTemplate>
              <em nz-icon [nzType]="passwordTypeMap[passwordConfirmType]" (click)="changePasswordType('passwordConfirmType')"></em>
            </ng-template>
          </nz-form-item>

          <button type="submit" nzBlock nz-button nzSize="large" [nzType]="'primary'">提交</button>
        </form>
      </nz-spin>
    </div>
  </div>
</div>

<ng-template #strengthDropDown>
  <div class="password-content">
    <p class="text-gray password-item">密码至少包含：</p>
    <p class="password-item">
      <em nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#1890ff" *ngIf="stats.upperCaseCharCount > 0"></em>
      <em nz-icon nzType="check-circle" nzTheme="outline" *ngIf="stats.upperCaseCharCount === 0"></em>
      1个大写字母
    </p>
    <p class="password-item">
      <em nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#1890ff" *ngIf="stats.lowerCaseCharCount > 0"></em>
      <em nz-icon nzType="check-circle" nzTheme="outline" *ngIf="stats.lowerCaseCharCount === 0"></em>
      1个小写字母
    </p>
    <p class="password-item">
      <em nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#1890ff" *ngIf="stats.numberCount > 0"></em>
      <em nz-icon nzType="check-circle" nzTheme="outline" *ngIf="stats.numberCount === 0"></em>
      1个数字
    </p>
    <p class="password-item">
      <em nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#1890ff"
         *ngIf="stats.upperCaseCharCount + stats.lowerCaseCharCount + stats.symbolCount + stats.numberCount >= 8"></em>
      <em nz-icon nzType="check-circle" nzTheme="outline"
         *ngIf="stats.upperCaseCharCount + stats.lowerCaseCharCount + stats.symbolCount + stats.numberCount < 8"></em>
      8个字符
    </p>
    <!-- 密码强度遮罩层-->
    <div class="grid-x align-middle">
      <div class="cell shrink strength">强度：{{ getStrengthLength().text }}</div>
      <div class="cell auto password-strength">
        <nz-progress [nzShowInfo]="false" [nzPercent]="getStrengthLength().percent" [nzStrokeColor]="getStrengthLength().color"></nz-progress>
      </div>
    </div>
  </div>
</ng-template>
