<div class="padding-1" style="height: 100%;overflow: auto;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <nz-form-item autoErrorTip [messages]="{'required': '请选择{0}'}">
      <nz-form-label [nzSpan]="4" nzRequired nzFor="provider">服务供应商</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <nz-select name="provider" formControlName="provider" placeholder="服务供应商">
          <nz-option *ngFor="let provider of providersList" [nzValue]="provider.code" [nzLabel]="provider.text">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item autoErrorTip>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="signName">短信签名</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input formControlName="signName" id="signName" placeholder="短信签名" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item autoErrorTip>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="username">AccessKey ID</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input formControlName="username" id="username" placeholder="AccessKey ID" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item autoErrorTip>
      <nz-form-label [nzSpan]="4" nzFor="password">AccessKey Secret</nz-form-label>
      <nz-form-control [nzSpan]="6" [nzExtra]="passwordExtraTpl">
        <input nz-input formControlName="password" id="password" placeholder="AccessKey Secret" />
        <ng-template #passwordExtraTpl>
          <p *ngIf="!updateAccessKey">
            <span>无法再次获取 AccessKey 信息，但是可以</span>&nbsp;
            <a (click)="setUpdateAccessKeySates(true)">重置 AccessKey >></a>
          </p>
          <p *ngIf="updateAccessKey">
            <span>提交后将无法再次获取 AccessKey 信息，但可以随时重置。</span>&nbsp;
            <a (click)="setUpdateAccessKeySates(false)">取消重置 >></a>
          </p>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="4">
        <button nz-button nzType="primary" [nzLoading]="loading">提交</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>